@use '../../variables' as *;
@use '../../mixins' as *;

.main {
  margin: 0 auto;
  padding: 0 24px;

  transition: width 1s ease;

  @media (min-width: 1200px) {
    width: 1000px;
  }

  @media (min-width: 1000px) {
    width: 800px;
  }

  @media (min-width: 800px) {
    width: 600px;
  }
}

.main-title {
  padding-top: 48px;
  color: $color-text;
}

.edit-button {
  cursor: pointer;

  &__icon {
    width: 20px;
    height: 20px;

    @include for-mobile-xs() {
      width: 15px;
      height: 15px;
    }
  }
}

.elements-table {
  padding: 10px 20px;
  border-radius: 16px;

  transition: width 1s ease;
}

.table-data-content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.mdc-data-table__cell, .mat-mdc-header-cell {
  padding: 0 16px;

  transition: all 1s ease;

  @include for-mobile() {
    padding-right: 0px;
    padding-left: 8px;


  }
}

.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__no-elements {
    margin-left: 16px;
    color: $color-accent
  }

  @media (max-width: 424px) {
    padding-bottom: 24px;
  }
}
