
<main class="main">
  <h1 class="main-title">Periodic Elements</h1>

  <input
  [formControl]="filterInput"
    type="text"
  >

  <table>
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Symbol</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let element of filteredElements">
        <td>{{element.position}}</td>
        <td>{{element.name}}</td>
        <td>{{element.weight}}</td>
        <td>{{element.symbol}}</td>
      </tr>
    </tbody>
  </table>
</main>

<router-outlet />
