@use '../variables' as *;

.main {
  max-width: 1024px;
}

.main-title {
  padding-top: 48px;
  color: $color-text;
}

.edit-button {
  cursor: pointer;

  &__icon {
    width: 20px;
    height: 20px;
  }
}

.elements-table {
  padding: 10px 20px;
  border-radius: 16px;
}

.table-data-content {
  display: flex;
  align-items: center;
  gap: 4px;
}
